body, html {
  background-color: #F5F7FB;
  color: #293264;
  margin: 0;  
  height: 100vh;
  width: 100vw;
  
}

.start-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 100%;
  align-items: center;
  justify-content: center;
}

.start-btn, .check-btn {
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: none;
  border-radius: 15px;
  padding: 1.2em 3.5em;
  margin-top: 2.2em;
  cursor: pointer;
}

.start-btn:hover, .check-btn:hover {
 background-color: #4d5b9eb0;
}
.start-btn:active, .check-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgb(37, 3, 100);
}

.start-screen p {
  max-width: 400px;
  text-align: center;
  margin: 0 1em;
}

.quiz-main {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1em 2em;
  max-width: 500px;
  margin: 1em auto;
  position: relative;
    
}

.quiz-answer, .quiz-answer__isHeld  {
  border-radius: 7px;
  padding: 0.3em 1em;
  margin-right: 0.3em;
}


.quiz-answer:hover {
cursor: pointer;
}


.btns-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

@media (max-width: 408px) {
  .btns-container {
    display:grid;
    grid-template-columns: 1fr 1fr;    
    gap: 10px;
  }
}


.quiz-h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.check-btn {
  margin: 2em auto;
}

.score {
  font-weight: 700;
  font-size: 1.2em;
}

.quiz_item {
  border-bottom: 2px solid #DBDEF0;
  padding-bottom: 1em;
}

.footer {
  display: flex;
  gap:10px;
  align-items: center;
  justify-content: space-between;
}

.empty {
  height: 40vh;
}

/*blobs*/
.blob-1, .blob-2, .blob-3, .blob-4 {
  position:fixed;
  width: 250px;
  height: 220px;
}

.blob-1, .blob-3 {
  background-color: #DEEBF8;
  border-radius: 46% 54% 70% 30% / 30% 36% 64% 70%;
  bottom:0;
  left: -60%;
  top: 80vh;
}

.blob-2, .blob-4 {
  background-color: #FFFAD1;
  border-radius: 62% 38% 52% 48% / 45% 42% 58% 55%  ;
  top:-10%;
  right: -60%;
}

@media (min-width: 300px) {
  .blob-1, .blob-3 {
    left: -40%;
  }

  .blob-2, .blob-4{
    right: -40%;
  }
}

@media (min-width: 450px) {
  .blob-1, .blob-3 {
    left: -20%;
  }

  .blob-2, .blob-4{
    right: -20%;
  }
}

@media (min-width: 600px) {
  .blob-1, .blob-3 {
    left: -10%;
  }

  .blob-2, .blob-4{
    right: -10%;
  }
}

@media (max-width: 840px) {
  .blob-3, .blob-4 {
    display: none;
  }
}
